<div id="appHeader" class="row container">
  <img height="100" alt="Angular Logo" src="../../assets/EmilyLogo.svg">
  <h1 class="header-text">
    <span>EmilyLutts</span>Fitness
  </h1>
  <ul class="hide-on-med-and-down right">
    <li>
      <a>
        <img class="social-media-btn" src="../../assets/igIcon2.png" alt="">
      </a>
    </li>
    <ul>
      <li>
        <a class="waves-effect waves-light btn-flat">Login</a>
      </li>
      <li>
        <a class="waves-effect waves-light btn-flat">Sign Up</a>
      </li>
    </ul>
  </ul>
</div>


