#appHeader{
  height: 140px;
  color: $primary;
  background-color: $primary-light;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-family: $font-tertiary;
    font-size: 5em;
    span {
      color: $secondary;
    }
  }
}
