#app-main-nav{
  background-color: $color-primary-0;
  .container {

  }
  .nav-wrapper {
    color: $color-primary-0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  ul{
    li{
      margin: 0 30px;
      a {
        font-family: $font-secondary;
        font-size: 20px;
      }
      @media only screen and (max-width: 800px){
        a{
          font-size: 14px;
        }
      }
      @media only screen and (max-width: 1311px){
        margin: 0;
      }
    }
  }

}
#small-screen-nav {
  background-color: $color-primary-0;
  height: 6vh;
}
#slide-out {
  background-color: $color-primary-2;
}
