#app-main-nav{
  background-color: $color-primary-0;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-wrapper {
    color: $color-primary-0;
  }

}
