form {
  /* label color */
  .input-field label {
    color: $color-primary-2;
  }
  input:not([type]):focus:not([readonly]),
  input:not([type]),
  input:not([type]):disabled,
  input[type=password],
  input[type=password]:focus:not([readonly]){
    box-shadow: none!important;
    border-bottom: none!important;
    margin:0;
  }
  /* label focus color */
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label,
  .input-field input[type=text]:focus + label{
    color: $color-primary-0;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus,
  .input-field input[type=text]:focus{
    border-bottom: 1px solid $color-primary-0;
    box-shadow: 0 1px 0 0 $color-primary-0;
  }

  /* valid color */
  .input-field input.valid {
    border-bottom: 1px solid $color-primary-4;
    box-shadow: 0 1px 0 0 $color-primary-4;
  }

  /* invalid color */
  .input-field input.invalid {
    border-bottom: 1px solid $color-tertiary-0;
    box-shadow: 0 1px 0 0 #A00;
  }
  .btn-submit {
    background-color: $color-primary-0!important;
  }
  .btn-submit:hover {
    background-color:$color-primary-1;
  }
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.blue-snackbar {
  color: $color-primary-4;
  border: $color-primary-4 solid 2px;
  background-color: white;
  span{
    color: $color-primary-0;
  }
}
.red-snackbar {
  color: $color-tertiary-4;
  border: $color-tertiary-4 solid 2px;
  background-color: white;
  span {
    color: $color-tertiary-4;
  }
}
