<div id="register-page" class="container">
  <h1>
    Register
  </h1>
  <h5>Email verification is necessary before being able to book any appointments.  I won't ever send you unwanted emails or sell your personal information (I promise!)</h5>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="registerClientData.email" name="email" type="email" class="validate">
        <label for="">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="registerClientData.password"
               id="password"
               name="password"
               type="password"
               class="validate"
               data-error="Minimum 8 characters"
               minlength="8">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="form-buttons">
      <button class="btn waves-effect waves-light" type="reset" name="action">clear
      </button>
      <button (click)="registerClient()" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

