<div id="app-main-header" class="row container">
  <a routerLink="/">
    <img height="100" alt="Emily Lutts Fitness Logo" src="../../assets/EmilyLogo.svg">
  </a>
  <a routerLink = "/">
    <h1 class="header-text">
      <span>EmilyLutts</span>Fitness
    </h1>
  </a>
  <ul class="hide-on-med-and-down right">
    <li>
      <a>
        <img class="social-media-btn" src="../../assets/igIcon2.png" alt="">
      </a>
    </li>
    <ul>
      <li>
        <a routerLink="/login" class="waves-effect waves-light btn-flat">Login</a>
      </li>
      <li>
        <a routerLink="/register" class="waves-effect waves-light btn-flat">Sign Up</a>
      </li>
    </ul>
  </ul>
</div>
