<nav id="app-main-nav" class="hide-on-small-and-down">
  <div class="nav-wrapper container">
    <ul id="nav-mobile" class="center">
      <li><a routerLink="training">Personal Training</a></li>
      <li><a routerLink="dance">Dance Instruction</a></li>
      <li><a routerLink="pole">Pole Fitness</a></li>
      <li><a routerLink="booking">Book A Session</a></li>
      <li><a [matMenuTriggerFor]="appMenu">Account</a></li>
      <mat-menu #appMenu="matMenu" class="nav-submenu">
        <a routerLink="login" mat-menu-item>Login</a>
        <a routerLink="register" mat-menu-item>Sign Up</a>
        <a routerLink="profile" mat-menu-item>Profile</a>
        <a mat-menu-item>Logout</a>
      </mat-menu>

    </ul>
  </div>
</nav>
