<div class="container" id="profile-page">
  <h5>
    View / Edit Profile
  </h5>
  <hr>
  <div class="edit-profile-row">
    <p>Email</p>
    <p>{{client.email}}</p>
    <button *ngIf="!isUpdatingEmail" [disabled]="isUpdatingPassword" class="btn profile-form-btn" (click)="updateEmail()">Update</button>
    <button *ngIf="isUpdatingEmail" [disabled]="isUpdatingPassword" class="btn profile-form-btn" (click)="cancelUpdate()">Cancel</button>
  </div>
  <div *ngIf="isUpdatingEmail">

  </div>
  <div class="edit-profile-row">
    <p>Password</p>
    <p *ngIf="!isUpdatingPassword">******</p>
    <button *ngIf="!isUpdatingPassword" [disabled]="isUpdatingEmail" class="btn profile-form-btn" (click)="updatePassword()">Update</button>
    <button *ngIf="isUpdatingPassword" [disabled]="isUpdatingEmail" class="btn profile-form-btn" (click)="cancelUpdate()">Cancel</button>
    <button *ngIf="isUpdatingPassword" class="btn profile-form=btn" (click)="submitUpdatePassword()">Submit</button>
  </div>
  <div *ngIf="isUpdatingPassword">
    <form>
      <div class="row">
        <div class="input-field col s4">
          <input [(ngModel)]="currentPassword"
                 id="currentPassword"
                 name="currentPassword"
                 type="password">
          <label for="currentPassword" class="active">Current Password</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="newPassword"
                 id="newPassword"
                 name="newPassword"
                 type="password">
          <label for="newPassword" class="active">New Password</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="newPasswordConfirm"
                 id="newPasswordConfirm"
                 name="newPasswordConfirm"
                 type="password">
          <label for="newPassword" class="active">Confirm New Password</label>
        </div>
      </div>
    </form>
  </div>

  <h5>Personal Info</h5>
  <hr>
  <form >
    <div class="row">
      <div class="input-field col s6">
      <input [(ngModel)]="client.firstName"
             id="firstName"
             name="firstName"
             placeholder="First Name"
             type="text">
      <label for="firstName" class="active">First Name</label>
      </div>
      <div class="input-field col s6">
        <input [(ngModel)]="client.lastName"
               id="lastName"
               name="lastName"
               placeholder="Last Name"
               type="text">
        <label for="lastName" class="active">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="client.birthDate"
               id="birthDate"
               name="birthDate"
               placeholder="MM/DD/YYYY"
               type="text" >
        <label for="birthDate" class="active">Birth Date</label>
      </div>
      <div class="input-field col s2">
        <input [(ngModel)]="client.heightFeet"
               id="heightFeet"
               name="heightFeet"
               placeholder="feet"
               min="3"
               max="7"
               class="validate"
               type="text">
        <label for="heightFeet"class="active">Height</label>
      </div>
      <div class="input-field col s2">
        <input [(ngModel)]="client.heightInches"
               id="heightInches"
               name="heightInches"
               class="validate"
               max="11"
               placeholder="inches"
               type="text">
      </div>
      <div class="input-field col s4">
      <input [(ngModel)]="client.weight"
             id="weight"
             name="weight"
             placeholder="lbs"
             type="text">
      <label for="weight" class="active">Weight</label>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea [(ngModel)]="client.conditions"
                  id="conditions"
                  name="condition"
                  class="materialize-textarea"
                  placeholder="diabetes, irregular heart beat, etc."
        ></textarea>
        <label for="conditions" class="active">Please list any health conditions you may have.</label>
      </div>
    </div>
    <div class="form-buttons">
      <button (click)="updatePersonalInfo()" class="btn waves-effect waves-light" type="submit" name="action">Update
      </button>
    </div>
  </form>
</div>

