<form>
  <div class="row edit-password-form">
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="currentPassword"
               id="currentPassword"
               name="currentPassword"
               type="password">
        <label for="currentPassword" class="active">Current Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="newPassword"
               id="newPassword"
               name="newPassword"
               type="password">
        <label for="newPassword" class="active">New Password</label>
      </div>
      <div class="right">
        <button  class="btn profile-form-btn" (click)="this.cancelUpdate()">Cancel</button>
        <button class="btn profile-form=btn" (click)="submitUpdatePassword()">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input [(ngModel)]="newPasswordConfirm"
               id="newPasswordConfirm"
               name="newPasswordConfirm"
               type="password">
        <label for="newPassword" class="active">Confirm New Password</label>
      </div>
    </div>


  </div>




</form>
