<form id="update-email-form" class="flex-vertical flex-center">

    <mat-form-field class="col s12 m6">
      <input *ngIf="!isLoading" matInput placeholder="Current Email" disabled value="{{client.email}}">
    </mat-form-field>
    <mat-form-field class="col s12 m6">
      <input matInput placeholder="New Email" [formControl]="newEmail">
      <mat-error *ngIf="newEmail.hasError('pattern')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <div>
      <button  class="btn profile-form-btn" (click)="this.cancelUpdate()">Cancel</button>
      <button class="btn btn-submit" [disabled]="newEmail.hasError('email') || newEmail.hasError('pattern')"
              (click)="submitUpdateEmail()">Submit</button>
    </div>

</form>
