<form [formGroup]="passwordForm" id="update-password-form">
      <mat-form-field class="col s10 m6">
        <input matInput formControlName="currentPassword"
               placeholder="Current Password"
               type="password">
        <mat-error *ngIf="passwordForm.get('currentPassword').hasError('required')">
          Must enter current password
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col s10 m6">
        <input matInput formControlName="newPassword"
               placeholder="New Password"
               type="password">
        <mat-error *ngIf="passwordForm.get('newPassword').hasError('pattern')">
          Password must contain 8 characters, and contain at least 1 letter and 1 number
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col s10 m6">
        <input matInput formControlName="newPasswordConfirm"
               [errorStateMatcher]="matcher"
               placeholder="Confirm New Password"
               type="password">
        <mat-error *ngIf="passwordForm.get('newPasswordConfirm').hasError('pattern')">
          Password must contain 8 characters, and contain at least 1 letter and 1 number
        </mat-error>
        <mat-error *ngIf="passwordForm.hasError('notSame')">
          Passwords Must Match
        </mat-error>
      </mat-form-field>

    <div class="center">
      <button  class="btn profile-form-btn" (click)="this.cancelUpdate()">Cancel</button>
      <button class="btn btn-submit"
              [disabled]="passwordForm.get('currentPassword').hasError('required') ||
                            passwordForm.get('newPassword').hasError('required') ||
                            passwordForm.get('newPassword').hasError('pattern') ||
                            passwordForm.get('newPasswordConfirm').hasError('required') ||
                            passwordForm.hasError('notSame')
"
              (click)="submitUpdatePassword()">Submit</button>
    </div>






</form>
