$font-main: 'Roboto', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$font-tertiary: 'Economica', sans-serif;
$font-revalia: 'Revalia', cursive;
$font-baloo: 'Baloo Tammudu', cursive;
$font-offside: 'Offside', cursive;



$primary-light: #FBFAFA;
$primary: #819ACD;
$primary-dark: #242539;
$secondary: #737286;
