$font-main: 'Roboto', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$font-tertiary: 'Economica', sans-serif;

$primary-light: #FBFAFA;
$primary: #819ACD;
$primary-dark: #242539;
$secondary: #737286;
