$font-main: 'Roboto', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$font-tertiary: 'Economica', sans-serif;
$font-revalia: 'Revalia', cursive;
$font-baloo: 'Baloo Tammudu', cursive;
$font-offside: 'Offside', cursive;


$color-primary-0: #177FAC;	// Main Primary color */
$color-primary-1: #5DA8C9;
$color-primary-2: #3790B7;
$color-primary-3: #06658E;
$color-primary-4: #044F6F;

$color-secondary-1-0: #FFBE18;	// Main Secondary color (1) */
$color-secondary-1-1: #FFD66F;
$color-secondary-1-2: #FFCA45;
$color-secondary-1-3: #E2A200;
$color-secondary-1-4: #B07E00;

$color-secondary-2-0: #FF4518;	// Main Secondary color (2) */
$color-secondary-2-1: #FF8B6F;
$color-secondary-2-2: #FF6945;
$color-secondary-2-3: #E22B00;
$color-secondary-2-4: #B02200;


$primary-light: #FBFAFA;
$primary: #819ACD;
$primary-dark: #242539;
$secondary: #737286;
